.recharts-surface {
  /* Prevent X-Labels from Overflowing */
  overflow: visible;
}

.recharts-tooltip-wrapper {
  max-width: 50%;
}

@media (min-width: 64rem) {
  .recharts-tooltip-wrapper {
    max-width: 75%;
  }
}
