article.faq {
  max-width: 24rem;
  padding-inline: 1rem;
  text-align: left;
}

article.faq > :not(:last-child) {
  margin-bottom: 2rem;
}

article.faq section > :not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 64rem) {
  article.faq {
    max-width: 48rem;
  }
}
