# Deploy to Vercel action is created because the project is under an organization.
# Vercel itself cannot link a project under an organization with hobby plan.

name: Deploy Vercel
on:
  # At 20:00 UTC (04:00 HKT)
  schedule:
    - cron: 0 20 * * *
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"

      - run: |
          pnpm install
          pnpm dlx vercel pull --yes --token=${VERCEL_TOKEN} --environment=production
          pnpm dlx vercel build --prod
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

      - uses: amondnet/vercel-action@v41.1.4 #deploy
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
          vercel-args: "--prod --prebuilt" #Optional
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
